//- POST_TYPE_TEXT: 1,
//- POST_TYPE_STAMP: 2,
//- POST_TYPE_IMAGE: 3,
//- POST_TYPE_QUOTATION: 4,
//- POST_TYPE_RETALK: 5,
//- POST_TYPE_MOVIE: 6,
//- POST_TYPE_TEXT_IMAGE: 7,
//- POST_TYPE_TEXT_MOVIE: 8,
//- POST_TYPE_NEWS: 9,

//- BODY_TYPE_TEXT: 1,
//- BODY_TYPE_STAMP: 2,
//- BODY_TYPE_IMAGE: 3,
//- BODY_TYPE_QUOTATION: 4,
//- BODY_TYPE_TALKID: 5,
//- BODY_TYPE_USERID: 6,
//- BODY_TYPE_POST: 7,
//- BODY_TYPE_MOVIE: 8,
//- BODY_TYPE_NEWS: 9,


mixin quot(comment)
  div.tq-cts
    div.tq-hdr
      div.tq-th(style='background-image: url(#{comment.sendUserThumbnail})')
      span.tq-pstr #{comment.sendUserName}
      span.tq-ts #{comment.timeOrDay}
    p.tq.tq-r !{comment.text}
    p.tq.tq-r.translate !{comment.translate}


mixin body(bodyList,isRetalk,isTranslate,isStamp)
  - var classPrefix = isRetalk?'rtp':'tp'
  - var fontSizeClass = classPrefix + '-r'
  - var isUrl = false
  - var translateClass = isTranslate?'translate':''
  - var stampClass = isStamp?'_sg':'_sgt'
  - var imageClass = isRetalk?'rtp_g':'tp_g'
  each body in bodyList
    case body.bodyType
      when 1
        - isUrl = (body.text.indexOf('http') == 0)
        if body.text.length > 25
          - fontSizeClass = classPrefix + (isUrl?'-m':'-s')


  p(class="#{classPrefix} #{fontSizeClass} #{translateClass}")
    each body in bodyList
      case body.bodyType
        when 1
          //- text
          if isTranslate == true
            | !{body.translate}
          else
            | !{body.text}

        when 2
          //- stamp
          <img class="#{classPrefix}#{stampClass}" src=#{body.image}>

        when 3
          //- image
          if isTranslate != true
            <img class="#{imageClass}" src=#{body.image}><br>


mixin retalk-banner(body)
  p.rt-ttl
    i.icon.icon-rt
    span
      a 「#{body.talkName}」 からリトーク

mixin body-retalk(body)
  ul.rt-cts
    li.rt-list
      div.rtp-hdr
        div.rtp-th(style='background-image:url(' + body.sendUserImage + ')')
        i.icn.icn-01.icn-rtp-ofl
        span.rtp-pstr #{body.sendUserName}
        span.rtp-ts #{body.timeOrDay}
      p.rtp.rtp-r
        case body.sourceBodyType
          when 1
            //- text
            +body(body.sourceBody,true)
            +body(body.sourceBody,true,true)

          when 3
            +body(body.sourceBody,true)
            +body(body.sourceBody,true,true)

          when 4
            //- quotation
            +body(body.sourceBody,true)
            +body(body.sourceBody,true,true)

          when 9
            +body-news(body.sourceBody)


//- mixin body-video(body)
//-   p.tp.tp-r
//-     img.tp_g(src=body.thumbnailUrl)

mixin body-news(body)
  //- bodytype = 9
  - var body = body[0]
  p.rtp.rtp-r
    img.rtp_g(src="#{body.image}")
    br
  p.rtp.rtp-r.rtp__newsTitle
    | #{body.title}
  p.rtp.rtp-r.rtp__newsDetail
    | #{body.detail}
  p.rtp.rtp-r
    a.rtp__newsLink
      | 続きを読む


//- ----------------------------
//- Start of process

doctype html
html
  head
    meta(charset='UTF-8')
    link(href='app.css',rel='stylesheet')
    style.
      .ltp .tp_g, .ltp .tp_m{
        max-width: 420px;
      }
      .tp.translate{
        color:#CF0011;
      }
      .tq-r.translate{
        color:#CF0011;
      }
      .box.ltp.bottom{
        padding:5px;
      }
      .col3--main {
          width: 560px;
          margin: 0;
      }
      .ltp .tp_g, .ltp .tp_m{
        //- max-width: 390px;
        max-height: initial;
      }



      //- body{
      //-   -webkit-transform: scale(2);
      //-   -webkit-transform-origin: 0% 0%;
      //- }

  body
    div.col.col3--main
      div.panel.panel-nb.panel-md-latestPosts
        h2.ltp-heading #{postTitle} (#{postDate})
        div.ltps
          ul.ltps-ul

            //- repeat start
            each post in posts
              li.box.ltp
                div.tp-hdr
                  div.tp-th(style='background-image: url(' + post.sendUserThumbnail + ');')
                  i.icn.icn-01.icn-tp-ofl &nbsp;
                  span.tp-pstr #{post.sendUserName}
                  span.tp-ts #{post.timeOrDay}

                case post.postType
                  when 1
                    //- text
                    +body(post.body)
                    +body(post.body,false,true)

                  when 2
                    //- stamp
                    +body(post.body,false,false,true)

                  when 3
                    //- user upload image
                    +body(post.body)
                    +body(post.body,false,true)

                  when 4
                    //- quotation
                    +body(post.body)
                    +body(post.body,false,true)
                    +quot(post.body[0].comment)

                  when 5
                    //- retalk
                    +retalk-banner(post.body[0])
                    +body-retalk(post.body[0])

                  when 6
                    //- video
                    +body-video(post.body[0])

                  when 7
                    //- text & image
                    +body(post.body)
                    +body(post.body,false,true)

            //- li.box.ltp.bottom

            //-   //- p.tp.tp-s
            //-   //-   | 翻译: @根基挡炎爆

            //-   p.tp.tp-s
            //-     span.tp-ts
            //-       | #{(new Date()).toLocaleString()}
            //-   p.tp.tp-s
            //-     span.tp-ts Powered by hkt48-fan/haruppi-promotion-project@github








