//- POST_TYPE_TEXT: 1,
//- POST_TYPE_STAMP: 2,
//- POST_TYPE_IMAGE: 3,
//- POST_TYPE_QUOTATION: 4,
//- POST_TYPE_RETALK: 5,
//- POST_TYPE_MOVIE: 6,
//- POST_TYPE_TEXT_IMAGE: 7,
//- POST_TYPE_TEXT_MOVIE: 8,
//- POST_TYPE_NEWS: 9,

//- BODY_TYPE_TEXT: 1,
//- BODY_TYPE_STAMP: 2,
//- BODY_TYPE_IMAGE: 3,
//- BODY_TYPE_QUOTATION: 4,
//- BODY_TYPE_TALKID: 5,
//- BODY_TYPE_USERID: 6,
//- BODY_TYPE_POST: 7,
//- BODY_TYPE_MOVIE: 8,
//- BODY_TYPE_NEWS: 9,


mixin quot(comment)
  div.tq-cts
    div.tq-hdr
      div.tq-th(style='background-image: url(#{comment.sendUserThumbnail})')
      span.tq-pstr #{comment.sendUserName}
      span.tq-ts #{comment.timeOrDay}
    p.tq.tq-r #{comment.text}
    p.tq.tq-r.translate #{comment.translate}

mixin body(bodyList)
  //- try get text length
  - var fontSizeClass = 'tp-r'
  - var isUrl = false
  each body in bodyList
    case body.bodyType
      when 1
        - isUrl = (body.text.indexOf('http') == 0)
        if body.text.length > 25
          - fontSizeClass = (isUrl?"tp-m":"tp-s")

  p(class="tp #{fontSizeClass}")
    each body in bodyList
      case body.bodyType
        when 1
          //- text
          if isUrl == true
            a(href='#{body.text}') #{body.text}
          else
            | #{body.text}

        when 2
          //- image
          <img class="tp_sgt" src=#{body.image}>

mixin body-single-image(bodyList)
  p(class="tp tp-r")
    each body in bodyList
      case body.bodyType
        when 1
          //- text
          - console.log("error: text in image only post")
        when 2
          //- stamp
          <img class="tp_sg" src=#{body.image}><br>
        when 3
          //- image
          <img class="tp_g" src=#{body.image}><br>

mixin body-translated(bodyList)
  //- try get text length
  - var fontSizeClass = 'tp-r'
  each body in bodyList
    case body.bodyType
      when 1
        if body.text.length > 25
          - fontSizeClass = "tp-s"

  p(class="tp #{fontSizeClass} translate")
    each body in bodyList
      case body.bodyType
        when 1
          //- text
          | #{body.translate}
        when 2
          //- image
          <img class="tp_sgt" src=#{body.image}>

mixin body-retalk(body)
  p.rt-ttl
    i.icon.icon-rt
    span
      a 「#{body.talkName}」 からリトーク
    ul.rt-cts
      li.rt-list
        div.rtp-hdr
          div.rtp-th(style='background-image:url(' + body.sendUserImage + ')')
          i.icn.icn-01.icn-rtp-ofl
          span.rtp-pstr #{body.sendUserName}
          span.rtp-ts #{body.timeOrDay}
        p.rtp.rtp-r
          case body.sourceBodyType
            when 1
              //- text
              if isUrl == true
                a(href='#{body.text}') #{body.text}
              else
                | #{body.text}
            when 3
              //- image
              <img class="tp_g" src=#{body.image}><br>
            when 8
              img.tp_g(src=body.thumbnailUrl)

        //- workround translate text in retalk
        if body.sourceBodyType == 1
          p.rtp.rtp-r
            #{body.translate}

mixin body-video(body)
  p.tp.tp-r
    img.tp_g(src=body.thumbnailUrl)



doctype html
html
  head
    meta(charset='UTF-8')
    link(href='app.css',rel='stylesheet')
    style.
      .ltp .tp_g, .ltp .tp_m{
        max-width: 420px;
      }
      .tp.translate{
        color:#CF0011;
      }
      .tq-r.translate{
        color:#CF0011;
      }
      .box.ltp.bottom{
        padding:5px;
      }

  body
    div.col.col3--main
      div.panel.panel-nb.panel-md-latestPosts
        h2.ltp-heading #{postTitle}
        div.ltps
          ul.ltps-ul

            //- repeat start
            each post in posts
              li.box.ltp
                div.tp-hdr
                  div.tp-th(style='background-image: url(' + post.sendUserThumbnail + ');')
                  i.icn.icn-01.icn-tp-ofl &nbsp;
                  span.tp-pstr #{post.sendUserName}
                  span.tp-ts #{post.timeOrDay}

                case post.postType
                  when 1
                    //- text
                    +body(post.body)
                    +body-translated(post.body)

                  when 2
                    //- image
                    +body-single-image(post.body)

                  when 3
                    //- user upload image
                    +body-single-image(post.body)

                  when 4
                    //- quotation
                    +body(post.body)
                    +body-translated(post.body)
                    +quot(post.body[0].comment)

                  when 5
                    //- retalk
                    +body-retalk(post.body[0])

                  when 6
                    //- video
                    +body-video(post.body[0])

            li.box.ltp.bottom

              //- p.tp.tp-s
              //-   | 翻译: @根基挡炎爆

              p.tp.tp-s
                span.tp-ts
                  | #{(new Date()).toLocaleString()}
              p.tp.tp-s
                span.tp-ts Powered by hkt48-fan/haruppi-promotion-project@github








